.analytics {
  height: 50%;
  width: 60%;
  /* border: solid 1px red; */
  align-items: center;
  text-align: center;
  margin: 0 20%;
  background: #d3d3d3;
  position: fixed;
  margin-top: 10px;
  box-shadow: 6px 0px 10px rgba(0, 0, 0, 0.5);

  border-radius: 10px;
}

.analytics__title {
  font-size: 2rem;
  color: red;
  vertical-align: center;
  text-align: center;
  line-height: inherit;
  position: relative;
  float: left;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 768px) {
  .analytics__title {
    font-size: 1rem;
  }
}
