.hamburgerButton {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 24px;
  width: 36px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  box-sizing: border-box;
}

.hamburgerButton:focus {
  outline: none;
}

.hamburgerButton__line {
  width: 30px;
  height: 1.5px;
  background: white;
}
