* {
  margin: 0;
  padding: 0;
}

body,
html {
  font-family: Arial, Helvetica, sans-serif;
  /* line-height: 1.4; */
  height: 100%;
  /* background: url("./img/doc_icons_bkgrd.png") no-repeat; */
  /* background: url("./img/doc_illus_bkgrd.jpg") no-repeat; */
  /* background: url("./img/medical_icon_bkgrd.png") no-repeat; */
  background:  url("./img/medical_icon_bkgrd_2.png") no-repeat;
  /* background: url("./img/medical_icon_bkgrd_3.jpg") no-repeat; */
  /* background: url("./img/medical_icon_bkgrd_4.jpg") no-repeat; */


  background-size: cover;
  background-position: center center;
}

.tasks {
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  width: 100%;
  /* margin-top: 40px; */
  /* padding-left: 25px; */
  height: 100vh;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  align-content: flex-start;
  margin-right: 5%;
  margin-top: 8px;
  margin-left: 8px;
}

/* .App {
  height: 100%;
} */

.pages {
  text-align: center;
}
