* {
  margin: 0;
  padding: 0;
}

body,
html {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
}

.tasks {
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  width: 100%;
  margin-top: 40px;
  padding-left: 25px;
  height: 100vh;
}

@media (max-width: 768px) {
  .tasks {
  }
}

.App {
  height: 100%;
}
