* {
  margin: 0;
  padding: 0;
}

body,
html {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
}

.tasks {
  display: flex;
  width: 80vw;
  margin-top: 40px;
}

.App {
  height: 100%;
}
